body {
    background-color:#fff;
}

a { 
    color: #777;
}
a:hover { 
    color: #000;
    background-color: #EEE;
}

#forkme {
    background: url('../img/forkme.png') no-repeat;
    position: absolute;
    top:0;
    left:0;
    width: 141px;
    height: 141px;
}

#general {
    margin:0 auto;
    position: relative;
    width:900px;
}

#top {
    padding:30px 10px;
    width:880px;
    border-bottom:1px solid #333;
}
#adsense { 
    margin-left:86px;
}

#menu {
    width:900px;
}
#nav {
    margin:0 auto;
    position: relative;
    width:400px;
}

#nav li {
    display: inline;
}

#nav li a {
    color:#333;
    border-left:1px solid #333;
    border-right:1px solid #333;
    border-bottom:1px solid #333;
    font-size:1.3em;
    height: 35px;
    line-height: 35px;
    padding:8px 70px;
}

#nav li a:hover {
    color: #333;
    background-color: #FFF;
    border-bottom:3px solid #777;
}

.menu_active {
    border-top:1px solid #fff;
}

#content {
    margin-top:20px;
    min-height:480px;
}

#footer {
    text-align:center;
    clear:both;
}

