 
#options {
    padding: 10px;
    margin-left: 70px;
    border:0;
}
   
#print {
    padding: 2px 20px;
    border: 1px solid #000;
    color: #000;
    background-color: #FFF;
    cursor:pointer;
    font-weight:bold
}

.postit {
    padding: 5px;
    border:0;
    float:left;
    width:320px;
    height:220px;
    margin-left:80px;
    margin-bottom:30px;
    margin-top:15px;
    background-color:#FFFF90;
}

.postit .pblock {
    display:block;
}

.postit label {
    font-weight: bold;
}
.postit input {
    height:25px;
}

.postit textarea {
    width:320px;
    height:152px;
    overflow: hidden;
}
.postit .title {
    width:285px;
} 
.postit .assignee {
    width:97px;
} 
.postit .priority {
    width:30px;
} 
.postit .points {
    width:30px;
} 

.postit input,textarea {
    border:0;
    background-color:#FFFF90;
}

.postit .pbuttons {
    float:right;
    background-color:#FFFF90;
    padding: 5px;
}

.postit .pbuttons a {
    background-color:#FFFF90;
    color: #000;
    margin-right: 3px;
}
.postit .pbuttons a:hover {
    background-color:#FFFF90;
    color: #F1CA47;
}
