{% set active_page = "about" %}
{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" type="text/css" media="screen" />
{% endblock %}



{% block content %}
 <p>This site is a demo with some tools for you to use during the implementation of Scrum. 
    Unlike other online tools for Scrum, the goal is merely to facilitate the generation of
    postits with tasks, burndown charts, planning poker.
</p>

 <p>
The initial idea was to learn to use the <a href="http://flask.pocoo.org/">Flask</a>, so I decided to implement this little project 
to motivate studies. The site is based on an original idea of <a href="http://larces.uece.br/~rudy/">Rudy Matela</a>. 
 He made <a href="http://ether.larces.uece.br/postit/">similar tool</a> using TeX
</p>
{% endblock %}
