{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" type="text/css" media="screen" />
{% endblock %}



{% block content %}
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu odio et lorem malesuada 
 tempor. Sed felis turpis, laoreet et mollis vitae, pulvinar sit amet purus. Nullam non orci 
 tristique urna hendrerit viverra. Cum sociis natoque penatibus et magnis dis parturient montes,
 nascetur ridiculus mus. Quisque augue orci, lacinia et bibendum cursus, egestas egestas urna.
 Mauris ultrices libero at arcu luctus eget condimentum quam aliquam. Ut ac metus eu augue
 hendrerit iaculis sed nec turpis. Suspendisse adipiscing aliquet ante sit amet aliquet.
 Proin auctor, neque at pretium laoreet, lectus lectus fermentum enim, in adipiscing mauris
 odio vitae odio. Nam eu est sit amet ipsum accumsan fermentum.</p>

 <p>Nulla id risus sit amet orci commodo feugiat sit amet eu quam. Nullam felis diam, placerat
 ut tempus a, scelerisque luctus ligula. Quisque elementum pulvinar interdum. Sed sed nisi quis
 nisi bibendum adipiscing nec non nibh. Maecenas a ipsum felis, nec tincidunt augue. In posuere
 tempus ligula, ut ultricies augue commodo at. Morbi elementum mollis augue vitae elementum.
 Duis molestie, risus et congue laoreet, diam tortor suscipit leo, vel faucibus diam mi id augue.
 Fusce ornare, ipsum nec aliquam malesuada, est sem dictum diam, id fermentum turpis lorem et dolor.
 Morbi lectus ligula, convallis et fringilla sit amet, scelerisque quis nisi. Nunc vitae auctor dolor. </p>
{% endblock %}
