<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>ScrumReal - Scrum tools for real world!</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.4.min.js') }}"></script>
    <script type="text/javascript">
        window.google_analytics_uacct = "UA-2419764-2";
    </script>
    {% block extra_head %}
    {% endblock %}
</head>
<body> 
<a id="forkme" href="https://github.com/fabiocerqueira/scrumreal/"></a>
</div>
<div id="general">
    <div id="top">
        <div id="adsense">
            <script type="text/javascript"><!--
            google_ad_client = "pub-1732538519019222";
            /* 728x15, criado 28/01/11 */
            google_ad_slot = "1739604495";
            google_ad_width = 728;
            google_ad_height = 15;
            //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div><!--adsense-->

        <h1>ScrumReal</h1>
        <p>Scrum tools for real world!</p>
    </div><!--topo-->

    <div id="menu">
        <ul id="nav">

            <li><a {% if "index" == active_page %} class="menu_active" {% endif %} href="/">post its</a></li>
            <li><a {% if "about" == active_page %} class="menu_active" {% endif %} href="/about">about</a></li>
        </ul><!--nav-->
    </div><!--menu-->

    <div id="content">
    {% block content %}
    {% endblock %}
    </div><!--content-->

    <div id="footer">
        ScrumReal - Scrum tools for real world! - <a href="http://fabiocerqueira.wordpress.com">Fábio Cerqueira</a>
    </div><!--footer-->
</div><!--general-->

<!--analytics-->
<script type="text/javascript">

  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2419764-2']);
      _gaq.push(['_trackPageview']);

  (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

</script>
</body>
</html>
