{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/postit.css') }}" type="text/css" media="screen" />
{% endblock %}


{% block content %}
    
    <form method="post" action="/postit">
        <fieldset class="postit">
            <label class="pblock">Title: <input class="title" type="text" value="" /></label>
            <label class="pblock">Description: <textarea></textarea></label>
            <label>Assignee:<input class="assignee" type="text" value="" /></label>
            <label>Priority:<input class="priority" type="text" value="" /></label>
            <label>Points:<input class="points" type="text" value="" /></label>
            <div class="pbuttons">
                <a href="#">add</a>
            </div>
        </fieldset>
        <fieldset class="postit">
            <label class="pblock">Title: <input class="title" type="text" value="" /></label>
            <label class="pblock">Description: <textarea></textarea></label>
            <label>Assignee:<input class="assignee" type="text" value="" /></label>
            <label>Priority:<input class="priority" type="text" value="" /></label>
            <label>Points:<input class="points" type="text" value="" /></label>
            <div class="pbuttons">
                <a href="#">add</a>
                <a href="#">rem</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
