{% set active_page = "index" %}
{% extends "base.html" %}


{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/postit.css') }}" type="text/css" media="screen" />

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tmpl.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/postit.js') }}"></script>
{% endblock %}


{% block content %}
    
    <form method="post" action="/postit">
        <div id="postit_group">

            <fieldset id="options"> 
                <label for="ref">Post-it Reference</label>
                <select id="ref" name="ref">
                    <option value="7644">68mm x 74mm</option>
                    <option value="7640">102mm x 74mm</option>
                </select>
                <input id="print" type="submit" value="print"/>
            </fieldset> 
            <fieldset class="postit">
                <label class="pblock">Title: <input name="title0" class="title" type="text" value="" /></label>
                <label class="pblock">Description: <textarea name="description0" rows="9" cols="40"></textarea></label>
                <label>Assignee:<input name="assignee0" class="assignee" type="text" value="" /></label>
                <label>Priority:<input name="priority0" class="priority" type="text" value="" /></label>
                <label>Points:<input name="points0" class="points" type="text" value="" /></label>
                <div class="pbuttons">
                    <a class="add_postit" href="#">add</a>
                </div>
            </fieldset>
        </div>
    </form>
{% endblock %}
